export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export WWW_HOME="http://example.com/"
export QT_STYLE_OVERRIDE=gtk2
export XDG_CONFIG_HOME=~/.config
alias termite='termite -e /usr/bin/zsh'
fcitx-autostart &
picom -b --experimental-backends &
xhost si:localuser:$USER &
flameshot &
