#!/bin/sh

export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export GLFW_IM_MODULE=ibus
export WWW_HOME="http://example.com/"
export QT_STYLE_OVERRIDE=gtk2
export XDG_CONFIG_HOME=~/.config
export NEXTGRAPHICS=$(asusctl graphics -g | awk '{print $4}')
export SDL_JOYSTICK_HIDAPI=0
xhost si:localuser:$USER &
libinput-gestures &
devmon &
fcitx5 &
flameshot &
picom --experimental-backends -b &
alias termite='termite -e /usr/bin/zsh'
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
thunar --daemon &
source /etc/profile.d/vte.sh
xss-lock -- i3lock -n -i ./Pictures/archlinux_resize.png -t &
blueman-applet &

if [ $(hostname) = "sumi-zephyrus" ]; then
    asusctltray &
fi
